/* index.css */

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Home Section */
  section {
    padding: 3rem 0;
    position: relative;
  }
  
  section::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .home-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .home-content a {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .home-content a:hover {
    background-color: #2980b9;
  }
  
  .home-slider {
    display: none;
  }
  
  .home-slider img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
  }
  
  .home-slider button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .home-slider button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  